$primary-colour: rgb(0, 56, 118);
$primary-colour-dim: #001b3b;

$secondary-colour: rgb(238, 42, 36);
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #ccc;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;


